<p><strong>Would you like to?</strong></p>

<p>
  <%= link_to 'Create a new Club Owner', new_club_owner_path %>
</p>

<p>
  <%= link_to 'Create a new Member', new_member_path %>
</p>

<p>
  <%= link_to 'Update a Club Owner', club_owners_path %>
</p>

<p>
  <%= link_to 'Update a Member', members_path %>
</p>
